@import '@styles/base';

// Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

.main {
  margin-left: 200px;
  position: relative;
  background: $color-alabaster;
  display: flex;
  justify-content: center;
  width: calc(100vw - 200px);
  height: 100%;
  min-height: 100vh;

  .container {
    width: 90%;
    max-width: 40rem;
    @include directionY;

    header {
      width: 100%;
      margin-top: 5vh;
      @include directionX;
      justify-content: center;
      align-items: center;
      position: relative;

      h1 {
        font-size: 120%;
      }
    }

    .filter {
      margin-top: 1rem;
      background-color: $color-white;
      padding: 1.5rem 1rem;
      border-radius: 10px;
      box-shadow: 0 0 5px 0 $color-cool-gray;
      @include directionY;
      gap: 1rem;

      .row {
        width: 100%;
        @include directionX;
        align-items: center;
        justify-content: space-between;
        gap: 0.75rem;

        label {
          font-size: 80%;
          color: $color-cool-gray;
        }

        .input {
          width: 45%;
        }

        .inputAutocomplete {
          input {
            &::placeholder {
              font-size: 90%;
            }
          }
        }

        .icon {
          font-size: 180%;
          color: $color-picton-blue-dark-shade;
          cursor: pointer;
          transition: 0.3s ease-in-out;
        }

        .icon:hover {
          color: $color-picton-blue-dark-shade-2;
        }

        .inputDatePicker {
          width: 100%;

          .datePickerWrapper {
            @include directionX;
            width: 45%;

            .datePicker {
              width: 100%;
              border-width: 0 0 2px 0;
              font-size: 90%;
            }
          }
        }
      }
    }

    .schedules {
      margin-top: 1rem;
      margin-bottom: 1rem;
      @include directionY;
      gap: 1rem;

      .sectionImage {
        width: 100%;
        @include directionY;
        align-items: center;
        gap: 0.5rem;

        .image {
          width: 6rem;
          height: 6rem;
  
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  @media screen and (max-width: $screen-lg-limit) {
    margin-left: 192px;
    width: calc(100vw - 192px);
  }

  @media screen and (max-width: $screen-md-limit) {
    margin-left: 10rem;
    width: calc(100vw - 10rem);

    .container {
      .filter {
        .row {
          @include directionY;
          gap: 0;

          .input {
            width: 100%;
          }

          .icon {
            margin-top: 0.5rem;
          }

          .inputDatePicker {
            .datePickerWrapper {
              width: 100%;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: $screen-sm-limit) {
    margin-left: 0;
    width: 100vw;
    height: 100%;

    .container {
      header {
        height: 3rem;
      }
    }
  }
}