@import '@styles/base';

.contentWrapper {
  flex-grow: 1;
  margin-left: 200px;
  @include directionY;
  padding: 1rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: calc(100vw - 200px);

  .image {
    width: 7rem;
  }

  .title {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
  }

  @media screen and (max-width: $screen-lg-limit) {
    margin-left: 192px;
    width: calc(100vw - 192px);
  }

  @media screen and (max-width: $screen-md-limit) {
    margin-left: 10rem;
    width: calc(100vw - 10rem);
  }

  @media screen and (max-width: $screen-sm-limit) {
    margin-left: 0;
    width: 100vw;
    
  }
}
