@import '@styles/base';

.card {
  width: 100%;
  border-radius: 10px;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 0 5px 0 $color-cool-gray;
  transition: 0.3s;
  @include directionY;
  gap: 0.25rem;

  .topCard {
    @include directionX;
    justify-content: space-between;
    cursor: pointer;

    .leftCard {
      @include directionX;
      align-items: center;
      width: 80%;
      gap: 1rem;
  
      .timeAndPlace {
        @include directionY;
        gap: 0.1rem;
  
        .time {
          font-size: 90%;
  
          sup {
            font-size: 60%;
            color: $color-strawberry-red;
          }
        }
  
        .place {
          font-size: 80%;
          color: $color-cool-gray;
        }
      }
  
      .train {
        min-width: 3rem;
        @include directionY;
        align-items: center;
  
        .name {
          margin-top: -0.75rem;
          font-size: 70%;
        }
  
        .arrowImage {
          margin-top: -0.9rem;
          width: 100%;
          height: 0.5rem;
  
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .price {
      font-size: 80%;
    }
  }

  .bottomCard {
    background-color: $color-magnolia;
    padding: 0.5rem;
    border-radius: 5px;
    @include directionY;
    gap: 0.15rem;
    display: none;
    transition: 0.3s ease-in-out;

    .seatClass {
      @include directionX;
      justify-content: space-between;
      align-items: center;

      .nameClass {
        font-size: 80%;
      }

      .rightCard {
        @include directionX;
        align-items: center;
        gap: 1rem;

        .priceAndAvailable {
          @include directionY;

          .price {
            text-align: right;
            font-size: 80%;
          }

          .available {
            text-align: right;
            font-size: 70%;
            color: $color-cool-gray;
          }
        }

        .btn {
          text-transform: capitalize;
        }
      }
    }

    hr {
      border-width: 0 0 1px 0;
      border-color: $color-light-gray;
    }
  }
}

.card:hover {
  box-shadow: 0 0 7px 0 $color-cool-gray;
}

.card.selected {
  .bottomCard {
    display: flex;
  }
}