@import '@styles/base';

.nonEditable {
  width: 100%;
  @include directionY;
  
  form {
    margin-top: 1rem;
    width: 100%;
    @include directionY;

    .header {
      padding: 0.5rem;
      background-color: $color-light-gray;
    }

    label {
      flex: 45%;
    }

    div.input {
      flex: 45%;
      padding: 0.5rem;
      @include directionX;
      justify-content: space-between;
      align-items: center;
    }

    input {
      flex: 45%;
      width: 45%;
      padding: 0.25rem 0.5rem;
      font-size: 80%;
      text-align: right;
      border-radius: 5px;
    }

    input:focus {
      outline: none;
      border-color: $color-picton-blue;
    }

    input:disabled {
      color: #000;
      border-width: 0;
    }

    .radios {
      flex: 45%;
      width: 45%;
      @include directionX;
      justify-content: space-around;
      gap: 1rem;

      .radio {
        @include directionX;
        gap: 0.25rem;
      }
    }

    .datePicker {
      flex: 45%;
      width: 45%;
      align-self: flex-end;
    }

    .verification {
      flex: 45%;
      width: 45%;
      text-align: left;
    }

    .button {
      align-self: flex-end;
      @include directionX;
      justify-content: flex-end;
      flex: 45%;
    }
  }
}