@import '@styles/base';

.mySwapper {
  width: 100%;
  height: 40vh;

  .swiperSlide {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
}