@import '@styles/base';

.headerWrapper {
  background-color: var(--color-bg) !important;
  box-shadow: 0 0.25rem 0.75rem rgba(25, 49, 83, 0.2) !important;
  width: 10rem;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  .contentWrapper {
    @include directionY;

    color: var(--color-text);
    padding: 1rem;
    align-items: start;
    justify-content: space-between;
    gap: 1.5rem;
    font-size: 1rem;

    .logoImage {
      @include directionX;
      cursor: pointer;
      align-items: center;

      .logo {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
      }
      .title {
        height: 1.25rem;
      }
    }

    .toolbar {
      @include directionY;
      gap: 1.5rem;

      .link {
        @include directionX;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;

        .namePage {
          font-size: 100%;
        }
      }

      .linkSelected {
        color: $color-picton-blue;
      }

      .theme {
        @include directionX;
        align-items: center;
        margin-right: 0.5rem;
        cursor: pointer;
      }
      .toggle {
        @include directionX;
        align-items: center;
        cursor: pointer;

        .avatar {
          margin-left: 0.1rem;
          width: 1.2rem;
          height: 1.2rem;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          margin-right: 0.5rem;
        }

        .lang {
          font-family: Poppins, Arial, Helvetica, sans-serif;
          font-weight: 700;
          font-size: 1rem;
          text-transform: uppercase;
        }

        .arrow {
          font-size: 1rem;
        }
      }
    }
  }

  @media screen and (max-width: $screen-sm-limit) {
    top: auto;
    bottom: 0;
    width: 100%;
    height: fit-content;

    .contentWrapper {
      @include directionX;
      align-items: center;
      justify-content: space-around;
      padding: 1rem 0.5rem;

      .logoImage {
        width: 20%;

        .logo {
          margin-right: 0.1rem;
        }

        .title {
          height: 0.75rem;
        }
      }

      .toolbar {
        width: 80%;
        @include directionX;
        justify-content: space-around;
        gap: 0.1rem;

        .link {
          @include directionY;
          gap: 0.1rem;

          .namePage {
            font-size: 70%;
          }
        }

        .theme {
          margin-right: 0;
        }
      }
    }
  }
}

.menu {
  @include directionX;
  align-items: center;

  .menuAvatar {
    width: 1rem;
    height: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-right: 0.5rem;
  }

  .menuLang {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
  }
}
