@import '@styles/base';

header {
  width: 100%;
  margin-top: 5vh;
  margin-bottom: 1rem;
  @include directionX;
  justify-content: center;
  align-items: center;
  position: relative;
  
  h1 {
    font-size: 120%;
  }
}

section {
  margin-bottom: 1rem;
  border-radius: 10px;
  border: 1px solid $color-cool-gray;
  box-shadow: 0 0 3px 0 $color-light-gray;
  @include directionY;
  gap: 0.1rem;

  .header {
    margin: 0.5rem 1rem;
    font-size: 100%;
  }

  hr {
    border-width: 0 0 1px 0;
    border-color: $color-cool-gray;
  }

  .sectionDesc {
    margin: 0.5rem 1rem;
    @include directionY;
    gap: 0.25rem;

    .row {
      @include directionX;
      align-items: baseline;
      gap: 1rem;

      .train {
        font-size: 120%;
      }

      .place {
        font-size: 90%;
      }

      .time {
        font-size: 70%;
      }

      .dateTime {
        font-size: 80%;
        color: $color-cool-gray;
      }

      .arrowImage {
        margin-top: -0.9rem;
        width: 2.5rem;
        height: 0.5rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: fill;
        }
      }
    }
    
    table.passengers {
      font-size: 80%;
      border-collapse: collapse;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;

      tr {
        border: 1px solid $color-cool-gray;
      }

      td, th {
        text-align: left;
        padding: 0.5rem;
      }
    }

    .carriages {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      @include directionX;
      gap: 1rem;

      .card {
        border: 1px solid $color-picton-blue;
        border-radius: 5px;
        color: $color-picton-blue;
        background-color: $color-white;
        @include directionX;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        transition: 0.3s ease-in-out;
      }

      .card.active {
        border-color: transparent;
        background-color: $color-picton-blue;
        color: $color-white;
      }
    }

    .selectSeat {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      @include directionX;
      justify-content: space-between;

      .header {
        margin: 0;
      }

      .message {
        font-size: 90%;
      }
    }

    .options {
      margin-top: 1rem;
      @include directionX;
      gap: 0.5rem;
    }

    .checkboxes {
      @include directionX;
      align-items: center;
      gap: 0.5rem 1.5rem;
      flex-wrap: wrap;

      .checkbox {
        @include directionX;
        align-items: center;
        gap: 0.25rem;
        cursor: pointer;

        label {
          font-size: 80%;
          cursor: pointer;
        }

        input {
          cursor: pointer;
        }
      }
    }

    .selectedPassengers {
      width: 100%;
      @include directionY;
      gap: 0.5rem;
    }
  }

  @media screen and (max-width: $screen-md-limit) {
    .sectionDesc {
      .row {
        gap: 0.5rem;

        .train {
          font-size: 110%;
        }

        .place {
          font-size: 80%;
        }

        .time {
          font-size: 75%;
        }
      }
    }
  }

  @media screen and (max-width: $screen-sm-limit) {
    .sectionDesc {
      .row {
        gap: 0.25rem;

        .train {
          font-size: 100%;
        }

        .place {
          font-size: 75%;
        }

        .time {
          font-size: 70%;
        }
      }
    }
  }
}

.footer {
  margin-bottom: 1rem;
  @include directionX;
  justify-content: flex-end;

  .btn {
    text-transform: capitalize;
  }
}